# Entorno virtual
venv/
ENV/
.env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Archivos de pruebas
.pytest_cache/
.cache/
.allure_results/
allure-results/
allure-report/

# Playwright
playwright-report/
test-results/
playwright/.cache/

# Archivos de sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp
*.swp
